extends layout

block content
  .row.bottom-space
    .twelve.columns
      #title
        h2= title
  .row.bottom-space
    #tabs.nine.columns
      a(href='#status', data-target='status').label.tab Status
  .row
    #windows.nine.columns
      #status.window
    .three.columns
      #users.window.hide
  .row
    .nine.columns
      #message
        input(id='message-text', type='text', placeholder='Enter message')

  #login.reveal-modal.medium
    h3 Connect to #{title}
    p.lead Please enter your information below
    form
      input(id='nickname', type='text', placeholder='Nickname')
      label(for='authenticate')
        input(id='authenticate', type='checkbox')
        span.custom.checkbox  Authenticate to services
      fieldset#services.hide
        legend Enter your credentials
        input(type='text', placeholder='Username')
        input(type='password', placeholder='Password')
      button#connect(type='submit').button Connect
    a.close-reveal-modal &#215;

  #window-template.hide
    div(id='{{target}}').window.hide

  #message-template.hide
    p.message
      | &lt;{{nickname}}&gt; {{message}}
  #tab-template.hide
      a(href='#', data-target='{{target}}').label.secondary.tab {{target}}

