doctype 5
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/vendor/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      block content
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/vendor/foundation.min.js')
    script(src='/javascripts/vendor/foundation.load.js')
    script(src='/javascripts/vendor/handlebars.js')
    script(src='/javascripts/webirc.js')