body {
  background: url("/images/grey.png") repeat;
}
.container {
  margin: 10px;
}
#title {
  margin-bottom: 10px;
}
#window {
  background-color: #fff;
  border: solid 1px #ccc;
  padding: 10px;
  min-height: 300px;
}
#users {
  background-color: #fff;
  border: solid 1px #ccc;
  padding: 10px;
  min-height: 300px;
}
#message {
  margin-top: 10px;
}
