body
  background url('/images/grey.png') repeat

a.tab
  padding 10px
  margin-right: 5px;

.container
  margin 10px

.window
  background-color white
  border solid 1px #ccc
  padding 10px
  height 300px
  overflow auto

.bottom-space
  margin-bottom 20px

#message
  margin-top 10px